# Python
__pycache__/
*.pyc
*.pyo

# Python virtual environment
venv/

# Environment/secrets
.env
.env.*
data/.zk_vault.json

# Local database
data/*.db

# Node dependencies
node_modules/

# Frontend build
frontend/dist/

# ZK temporary files
zk/build/*.wtns
data/uploads/*

# ZK generated/setup artifacts
zk/bin/
zk/build/*.r1cs
zk/build/*.sym
zk/build/*_0000.zkey
zk/build/pot*.ptau
zk/build/proof.json
zk/build/public.json
zk/build/invalid_public.json
zk/input.json
